
.header {
	display: flex;

	align-items: center;

	width: 100vw;
	height: 50px;
	background-color: #ffffff;
	border-bottom: 1px solid #e5e5e5;

	/* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.14); */
}

.header img {
	height: 22px;
	margin-left: 15px;
}
.header img:hover {
	cursor: pointer;
}

.list_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.list {
	width: 100%;
	max-width: 880px;
	min-height: 100vh;
}

.article {
	padding: 18px 0;
	margin: 0 15px;

	border-bottom: 1px solid #f2f2f2;
}
.article:hover {
	cursor: pointer;
	text-decoration: underline;
}

.article h2 {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 5px;

	line-height: 1.5;
	word-break: keep-all;
}

.article h3 {
	font-size: 14px;
	color: #818181;
}

.article span {
	display: inline;
	font-size: 12px;
	color: #ff438b;
	margin-left: 5px;
}

.more {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 40px;

	font-size: 16px;
}
.more:hover {
	cursor: pointer;
	text-decoration: underline;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#content {
	width: 100%;
	min-height: 100vh;
	max-width: 880px;
	overflow-x: hidden;
	overflow-y: hidden;

	padding-bottom: 40px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
}

#content h1 {
	font-size: 28px;
	font-weight: 700;
	margin: 0 15px;
	margin-top: 25px;
	margin-bottom: 10px;
	word-break: keep-all;
	line-height: 1.25;
}

#content h3 {
	color: #939393;
	margin: 0 15px;
	font-size: 14px;
	font-weight: 500;
	padding-bottom: 15px;
	margin-bottom: 50px;

	border-bottom: 1px solid #e5e5e5;
}

#content h4 {
	font-size: 14px;
	font-weight: 500;
	color: #939393;
	text-align: center;
	margin-bottom: 40px;
}

#content h5 {
	font-size: 12px;
	font-weight: 500;
	color: #939393;
	margin-left: 15px;
}

#content strong {
	font-weight: 700;
}

#content p {
	font-size: 16px;
	font-weight: 400;
	margin: 0 15px;
	margin-bottom: 20px;

	line-height: 1.5;
	word-break: keep-all;
}

#content img {
	width: calc(100% - 30px);
	/* max-width: 700px; */

	margin-left: 50%;
	transform: translateX(-50%);

	aspect-ratio: 5/3;
	object-fit: cover;

	background-color: #f2f2f2;
	background-image: url('/assets/fallback.png');
	background-size: cover;
	background-position: center;
}

.comments {
	width: 100%;
	max-width: 880px;

	margin-top: 20px;
	padding-bottom: 40px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}

.comments h2 {
	font-size: 18px;
	font-weight: 400;
	margin: 0 15px;
	margin-bottom: 10px;
}

.comments .item {
	width: -webkit-fill-available;
	padding: 15px;
}

.comments .item h3 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 5px;

	line-height: 1.25;
}

.comments .item p {
	padding: 3px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.25;
}

.comments .pages {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	margin: 10px 0;
	margin-bottom: 40px;
}

.comments .pages span {
	font-size: 16px;
	font-weight: 400;

	width: 28px;
	height: 28px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #f2f2f2;
}

.comments .pages span.active {
	background-color: #e5e5e5;
}

.comments .pages span:hover {
	cursor: pointer;
	background-color: #e5e5e5;
}

.comments .pages span:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.comments .pages span:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.editor {
	width: --webkit-fill-available;
	margin: 0 15px;
	margin-top: 20px;
}

.editor textarea {
	padding: 10px;
	width: -webkit-fill-available;
	resize: none;

	font-size: 16px;
	font-weight: 400;

	outline: none;
	border: 1px solid #e5e5e5;
	border-radius: 7px;
}
.editor textarea:focus {
	border: 1px solid #dcdcdc;
}

.editor button {
	float: right;
	
	margin-top: 3px;
	padding: 6px 10px;
	font-size: 14px;

	border-radius: 50px;
	background-color: #f2f2f2;
}
.editor button:hover {
	cursor: pointer;
	background-color: #dcdcdc;
}

.hearts {
	transition: color 0.5s;
}

.hearts:hover {
	cursor: pointer;
	color: #ff2020;
}

.heart {
	position: fixed;

	z-index: 99999;
	font-size: 16px;
	font-weight: 700;

	color: #ff2020;

	transition: left 0.5s;
	opacity: 0;
}

.heart.animate {
	animation: evaporate 1.4s ease-out;
}

@keyframes evaporate {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(-200px);
		opacity: 0;
	}
}

.reaction {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;

	margin-top: 30px;
}

#like {
	width: 70px;
	height: 70px;
	background-color: #f2f2f2;
	border-radius: 15px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	font-size: 14px;
	font-weight: 700;

	margin-right: 20px;
}
#like span {
	font-size: 14px;
	font-weight: 700;
}
#like:hover {
	cursor: pointer;
	background-color: #dcdcdc;
}

#dislike {
	width: 70px;
	height: 70px;
	background-color: #f2f2f2;
	border-radius: 15px;

	font-size: 14px;
	font-weight: 700;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#dislike span {
	font-size: 14px;
	font-weight: 700;
}
#dislike:hover {
	cursor: pointer;
	background-color: #dcdcdc;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 120px;
	background-color: #dddddd;
	border-top: 1px solid #e5e5e5;
}

.footer p {
	font-size: 12px;
	color: #939393;
	margin-top: 5px;
}

.loading {
	width: 100%;
	height: calc(100vh - 98px);

	margin-bottom: 100px;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* Loading */
svg.tea {
	--secondary: #33406f;
}
svg.tea #teabag {
	transform-origin: top center;
	transform: rotate(3deg);
	animation: swing 2s infinite;
}
svg.tea #steamL {
	stroke-dasharray: 13;
	stroke-dashoffset: 13;
	animation: steamLarge 2s infinite;
}
svg.tea #steamR {
	stroke-dasharray: 9;
	stroke-dashoffset: 9;
	animation: steamSmall 2s infinite;
}
@-moz-keyframes swing {
	50% {
		transform: rotate(-3deg);
   }
}
@-webkit-keyframes swing {
	50% {
		transform: rotate(-3deg);
   }
}
@-o-keyframes swing {
	50% {
		transform: rotate(-3deg);
   }
}
@keyframes swing {
	50% {
		transform: rotate(-3deg);
   }
}
@-moz-keyframes steamLarge {
	0% {
		stroke-dashoffset: 13;
		opacity: 0.6;
   }
	100% {
		stroke-dashoffset: 39;
		opacity: 0;
   }
}
@-webkit-keyframes steamLarge {
	0% {
		stroke-dashoffset: 13;
		opacity: 0.6;
   }
	100% {
		stroke-dashoffset: 39;
		opacity: 0;
   }
}
@-o-keyframes steamLarge {
	0% {
		stroke-dashoffset: 13;
		opacity: 0.6;
   }
	100% {
		stroke-dashoffset: 39;
		opacity: 0;
   }
}
@keyframes steamLarge {
	0% {
		stroke-dashoffset: 13;
		opacity: 0.6;
   }
	100% {
		stroke-dashoffset: 39;
		opacity: 0;
   }
}
@-moz-keyframes steamSmall {
	10% {
		stroke-dashoffset: 9;
		opacity: 0.6;
   }
	80% {
		stroke-dashoffset: 27;
		opacity: 0;
   }
	100% {
		stroke-dashoffset: 27;
		opacity: 0;
   }
}
@-webkit-keyframes steamSmall {
	10% {
		stroke-dashoffset: 9;
		opacity: 0.6;
   }
	80% {
		stroke-dashoffset: 27;
		opacity: 0;
   }
	100% {
		stroke-dashoffset: 27;
		opacity: 0;
   }
}
@-o-keyframes steamSmall {
	10% {
		stroke-dashoffset: 9;
		opacity: 0.6;
   }
	80% {
		stroke-dashoffset: 27;
		opacity: 0;
   }
	100% {
		stroke-dashoffset: 27;
		opacity: 0;
   }
}
@keyframes steamSmall {
	10% {
		stroke-dashoffset: 9;
		opacity: 0.6;
   }
	80% {
		stroke-dashoffset: 27;
		opacity: 0;
   }
	100% {
		stroke-dashoffset: 27;
		opacity: 0;
   }
}

.mingcute--thumb-up-2-line {
	display: inline-block;
	width: 24px;
	height: 24px;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M9.821 3.212c.296-.69 1.06-1.316 2.024-1.13c1.474.283 3.039 1.401 3.149 3.214L15 5.5V8h2.405a4 4 0 0 1 3.966 4.522l-.03.194l-.91 5a4 4 0 0 1-3.736 3.28l-.199.004H6a3 3 0 0 1-2.995-2.824L3 18v-6a3 3 0 0 1 2.824-2.995L6 9h1.34zM7 11H6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h1zm4.625-6.92l-2.544 5.937a1 1 0 0 0-.072.259L9 10.41V19h7.496a2 2 0 0 0 1.933-1.486l.035-.156l.91-5a2 2 0 0 0-1.82-2.353L17.405 10H15a2 2 0 0 1-1.995-1.85L13 8V5.5c0-.553-.434-1.116-1.205-1.37z'/%3E%3C/g%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;

	margin-bottom: 5px;
}

.mingcute--thumb-down-2-line {
	display: inline-block;
	width: 24px;
	height: 24px;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='M16.496 2.998a4 4 0 0 1 3.936 3.285l.909 5a4 4 0 0 1-3.936 4.715H15v2.5c0 1.933-1.626 3.124-3.155 3.419c-.964.185-1.729-.442-2.024-1.131l-2.48-5.788H6a3 3 0 0 1-3-3v-6a3 3 0 0 1 3-3zm0 2H9v8.59a1 1 0 0 0 .08.394l2.545 5.936c.877-.224 1.375-.828 1.375-1.42v-2.5a2 2 0 0 1 2-2h2.405a2 2 0 0 0 1.968-2.358l-.909-5a2 2 0 0 0-1.968-1.642M7 4.998H6a1 1 0 0 0-.993.883L5 5.998v6a1 1 0 0 0 .883.993l.117.007h1z'/%3E%3C/g%3E%3C/svg%3E");
	background-color: currentColor;
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;

	margin-bottom: 5px;
}